<ul>
  <% @files.sort.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      &nbsp
      <a href="/<%= file %>/edit"?>edit</a>
      &nbsp
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href='/new'>New Document</a></p>