<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

  </head>
  <body>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
